<a href="https://colab.research.google.com/github/AngelaMRomero/ActivityLifeCycle/blob/master/PRACTICAS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
import pandas as pd

df= pd.read_csv('ventas.csv', sep=(";"))

print ("Primeras 5 filas")
print (df.head())

Primeras 5 filas
        fecha producto  cantidad  precio_unitario     ciudad
0  13/03/2024  Celular         5           953.87   Medellín
1  23/04/2024  Teclado         6           457.36    Pereira
2  13/08/2024  Teclado         2           155.27  Cartagena
3  16/03/2024  Celular         6          1235.89   Medellín
4  30/03/2024  Monitor         9          1179.29    Pereira

In [20]:
print ("ultimas filas")
print(df.tail())

ultimas filas
         fecha     producto  cantidad  precio_unitario     ciudad
95  26/06/2024   Smartwatch         6           176.07     Cúcuta
96  12/04/2024        Mouse         9          1839.61  Manizales
97  30/04/2024       Laptop         5           805.00    Popayán
98  12/01/2024  Auriculares         8          1395.66    Pereira
99  28/08/2024       Tablet         7          1420.98     Cúcuta

In [21]:
print("dimesiones")
print(df.shape)

dimesiones
(100, 5)

In [17]:
print("valores nulos")
print (df.isnull().sum())

valores nulos
fecha              0
producto           0
cantidad           0
precio_unitario    0
ciudad             0
dtype: int64

In [24]:
df['cantidad']=pd.to_numeric(df['cantidad'], errors="coerce")
df['precio_unitario']=pd.to_numeric(df.precio_unitario, errors="coerce")
df['total']=df['cantidad']*df['precio_unitario']
print(df.head)

<bound method NDFrame.head of          fecha     producto  cantidad  precio_unitario     ciudad     total
0   13/03/2024      Celular         5           953.87   Medellín   4769.35
1   23/04/2024      Teclado         6           457.36    Pereira   2744.16
2   13/08/2024      Teclado         2           155.27  Cartagena    310.54
3   16/03/2024      Celular         6          1235.89   Medellín   7415.34
4   30/03/2024      Monitor         9          1179.29    Pereira  10613.61
..         ...          ...       ...              ...        ...       ...
95  26/06/2024   Smartwatch         6           176.07     Cúcuta   1056.42
96  12/04/2024        Mouse         9          1839.61  Manizales  16556.49
97  30/04/2024       Laptop         5           805.00    Popayán   4025.00
98  12/01/2024  Auriculares         8          1395.66    Pereira  11165.28
99  28/08/2024       Tablet         7          1420.98     Cúcuta   9946.86

[100 rows x 6 columns]>

In [28]:
df['fecha']=pd.to_datetime(df['fecha'], errors='coerce', dayfirst=True)
print(df.head)

<bound method NDFrame.head of         fecha     producto  cantidad  precio_unitario     ciudad     total
0  2024-03-13      Celular         5           953.87   Medellín   4769.35
1  2024-04-23      Teclado         6           457.36    Pereira   2744.16
2  2024-08-13      Teclado         2           155.27  Cartagena    310.54
3  2024-03-16      Celular         6          1235.89   Medellín   7415.34
4  2024-03-30      Monitor         9          1179.29    Pereira  10613.61
..        ...          ...       ...              ...        ...       ...
95 2024-06-26   Smartwatch         6           176.07     Cúcuta   1056.42
96 2024-04-12        Mouse         9          1839.61  Manizales  16556.49
97 2024-04-30       Laptop         5           805.00    Popayán   4025.00
98 2024-01-12  Auriculares         8          1395.66    Pereira  11165.28
99 2024-08-28       Tablet         7          1420.98     Cúcuta   9946.86

[100 rows x 6 columns]>

In [30]:
df['anio']=df['fecha'].dt.year
df['mes']=df['fecha'].dt.month
print(df.head)

<bound method NDFrame.head of         fecha     producto  cantidad  precio_unitario     ciudad     total  \
0  2024-03-13      Celular         5           953.87   Medellín   4769.35
1  2024-04-23      Teclado         6           457.36    Pereira   2744.16
2  2024-08-13      Teclado         2           155.27  Cartagena    310.54
3  2024-03-16      Celular         6          1235.89   Medellín   7415.34
4  2024-03-30      Monitor         9          1179.29    Pereira  10613.61
..        ...          ...       ...              ...        ...       ...
95 2024-06-26   Smartwatch         6           176.07     Cúcuta   1056.42
96 2024-04-12        Mouse         9          1839.61  Manizales  16556.49
97 2024-04-30       Laptop         5           805.00    Popayán   4025.00
98 2024-01-12  Auriculares         8          1395.66    Pereira  11165.28
99 2024-08-28       Tablet         7          1420.98     Cúcuta   9946.86

    anio  mes
0   2024    3
1   2024    4
2   2024    8
3   2024    3
4   2024    3
..   ...  ...
95  2024    6
96  2024    4
97  2024    4
98  2024    1
99  2024    8

[100 rows x 8 columns]>

In [31]:
ventas_Bogotá=df[df['ciudad']=='Bogotá']
print(ventas_Bogotá)

        fecha producto  cantidad  precio_unitario  ciudad     total  anio  mes
8  2024-08-01   Laptop         9          1464.38  Bogotá  13179.42  2024    8
16 2024-04-24   Cámara         8           938.99  Bogotá   7511.92  2024    4
20 2024-01-04    Mouse         9          1819.48  Bogotá  16375.32  2024    1
43 2024-05-04   Laptop         5          1951.42  Bogotá   9757.10  2024    5
66 2024-07-31    Mouse         9          1987.22  Bogotá  17884.98  2024    7
74 2024-07-09   Cámara         1           737.78  Bogotá    737.78  2024    7
81 2024-06-19  Monitor         7           700.23  Bogotá   4901.61  2024    6

In [34]:
ventas_mayor1000=df[df['total']>1000]
print(ventas_mayor1000)

        fecha     producto  cantidad  precio_unitario     ciudad     total  \
0  2024-03-13      Celular         5           953.87   Medellín   4769.35
1  2024-04-23      Teclado         6           457.36    Pereira   2744.16
3  2024-03-16      Celular         6          1235.89   Medellín   7415.34
4  2024-03-30      Monitor         9          1179.29    Pereira  10613.61
5  2024-04-18    Impresora         3          1336.71       Cali   4010.13
..        ...          ...       ...              ...        ...       ...
95 2024-06-26   Smartwatch         6           176.07     Cúcuta   1056.42
96 2024-04-12        Mouse         9          1839.61  Manizales  16556.49
97 2024-04-30       Laptop         5           805.00    Popayán   4025.00
98 2024-01-12  Auriculares         8          1395.66    Pereira  11165.28
99 2024-08-28       Tablet         7          1420.98     Cúcuta   9946.86

    anio  mes
0   2024    3
1   2024    4
3   2024    3
4   2024    3
5   2024    4
..   ...  ...
95  2024    6
96  2024    4
97  2024    4
98  2024    1
99  2024    8

[90 rows x 8 columns]

In [35]:
consulta=df.loc[df['total']>1000, ['producto', 'total']]
print(consulta)

       producto     total
0       Celular   4769.35
1       Teclado   2744.16
3       Celular   7415.34
4       Monitor  10613.61
5     Impresora   4010.13
..          ...       ...
95   Smartwatch   1056.42
96        Mouse  16556.49
97       Laptop   4025.00
98  Auriculares  11165.28
99       Tablet   9946.86

[90 rows x 2 columns]

In [36]:
filtro=df.loc[(df['total']>1000) & (df['ciudad']=='Bogotá')]
print(filtro)

        fecha producto  cantidad  precio_unitario  ciudad     total  anio  mes
8  2024-08-01   Laptop         9          1464.38  Bogotá  13179.42  2024    8
16 2024-04-24   Cámara         8           938.99  Bogotá   7511.92  2024    4
20 2024-01-04    Mouse         9          1819.48  Bogotá  16375.32  2024    1
43 2024-05-04   Laptop         5          1951.42  Bogotá   9757.10  2024    5
66 2024-07-31    Mouse         9          1987.22  Bogotá  17884.98  2024    7
81 2024-06-19  Monitor         7           700.23  Bogotá   4901.61  2024    6